$universalBlack: #000000;
$blackPrimary: #000000d6;
$blackSecondary: #0000002e;
$blackTertiary: #00000066;
$universalWhite: #ffffff;
$whitePrimary: #ffffffd6;
$whiteSecondary: #ffffffa6;
$whiteTertiary: #ffffff80;
$colorPrimary: #024e99;
$colorSecondary: #747688;
$bgPrimary: #eeeeee;
$bgSecondary: #282828;
$bgSocialImages: #b4b9c9;
$bgTertiary: #f5f5f5;
$boxShadowColor: #0000000a;
