h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4206rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8156rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5437rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter" !important;
  background-image: url(../images/pngs/BodyBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior-y: none;
}

.blur {
  filter: blur(5px);
}

header {
  position: relative;
  max-width: 26.875rem;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  background-color: #282828;
  max-width: 26.875rem;
  margin: 0 auto;
}
header nav img {
  width: 2.875rem;
  height: 2.0625rem;
}
header nav button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  border-radius: 7px;
}
header nav button img {
  width: 100%;
  height: 100%;
}
header .side-bar {
  position: absolute;
  top: 0;
  left: -120%;
  z-index: 100;
  background-color: #ffffff;
  width: -webkit-fill-available;
  max-width: 20.4375rem;
  height: 100vh;
}
header .side-bar.active {
  left: 0 !important;
}
header .side-bar .header-wrapper {
  padding: 1.5rem 1.5rem 1.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
}
header .side-bar .header-wrapper .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
header .side-bar .header-wrapper .header img {
  width: 6rem;
  height: 4.3125rem;
}
header .side-bar .header-wrapper .header .cross-icon {
  width: 1.125rem;
  height: 1.125rem;
}
header .side-bar .header-wrapper button {
  width: 9.875rem;
  height: 2.25rem;
  background-color: #024e99;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9075rem;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}
header .side-bar ul li {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  list-style: none;
}
header .side-bar ul li a {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0588rem;
  color: #000000;
  text-decoration: none;
}

main {
  max-width: 26.875rem;
  margin: 0 auto;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  padding: 2.5rem 1.25rem 2rem;
  background-color: #eeeeee;
}
.service .service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service .service-content > span {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.9075rem;
  color: rgba(0, 0, 0, 0.8392156863);
}
.service .service-content h2 {
  text-align: center;
  margin: 1rem 0 0.75rem;
}
.service .service-content h2 span {
  color: #024e99;
}
.service .service-content p {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #747688;
  text-align: center;
  margin-bottom: 1.5rem;
}
.service .service-content button {
  width: 11.25rem;
  height: 2.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.0588rem;
  color: #ffffff;
  background-color: #024e99;
  border-radius: 12px;
  border: none;
  outline: none;
}
.service .service-images-wrapper img {
  max-width: calc(100vw - 1.375rem) !important;
}

.about-us {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 1.25rem;
  background-color: #ffffff;
}
.about-us .about-us-content h2 {
  color: rgba(0, 0, 0, 0.8392156863);
}
.about-us .about-us-content > p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #747688;
  margin: 0.8125rem 0 1rem;
}
.about-us .about-us-content ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.about-us .about-us-content ul li {
  display: flex;
  gap: 0.5rem;
}
.about-us .about-us-content ul li img {
  width: 1.375rem;
  height: 1.375rem;
}
.about-us .about-us-content ul li p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #747688;
}
.about-us .about-us-content ul li p span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8392156863);
}
.about-us .image-wrapper {
  width: 100%;
  height: 16.125rem;
}
.about-us .image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.feature {
  position: relative;
  padding: 1.5rem 0 2.5rem;
  background-color: #ffffff;
  z-index: -2;
}
.feature .overlay {
  position: absolute;
  width: 100%;
  height: 111.4375rem;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8392156863);
}
.feature .feature-content {
  padding: 0 1.25rem;
}
.feature .feature-content h2 {
  color: #ffffff;
  margin: 1rem 0 2rem;
}
.feature .feature-content h2 span:first-child {
  display: block;
  color: rgba(255, 255, 255, 0.8392156863);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8156rem;
}
.feature .feature-content h2 span:last-child {
  color: #024e99;
}
.feature .event-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 1.25rem;
}
.feature .event-listing li {
  background-color: #ffffff;
  box-shadow: 18px 23px 33px 0 rgba(0, 0, 0, 0.0392156863);
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature .event-listing li .event-listing-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem 0;
}
.feature .event-listing li .event-listing-data h3 {
  color: #000000;
}
.feature .event-listing li .event-listing-data p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #747688;
  text-align: center;
}
.feature .event-listing li .event-listing-image {
  max-height: 25.4375rem;
}
.feature .event-listing li .event-listing-image img {
  width: 100%;
  height: 100%;
}

.working-method-wrapper {
  padding: 0 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
.working-method-wrapper h2 {
  color: #024e99;
  text-align: center;
  margin-bottom: 3.25rem;
}
.working-method-wrapper h2 span {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8156rem;
  color: rgba(0, 0, 0, 0.8392156863);
}
.working-method-wrapper .working-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}
.working-method-wrapper .working-method .image-wrapper img {
  width: 100%;
  height: 100%;
}
.working-method-wrapper .working-method .working-method-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.working-method-wrapper .working-method .working-method-content li {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.working-method-wrapper .working-method .working-method-content .listing-data h4 {
  color: rgba(0, 0, 0, 0.8392156863);
  margin-bottom: 0.75rem;
}
.working-method-wrapper .working-method .working-method-content .listing-data p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #747688;
}

.btn-wrapper {
  width: 26.875rem;
  margin: 0 auto;
}
.btn-wrapper .scroll-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: #024e99;
  position: fixed;
  bottom: 2.5rem;
  right: 1.25rem;
}

footer {
  padding: 2rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.8392156863);
  max-width: 26.875rem;
  margin: 0 auto;
}
footer .address {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 2.5625rem;
}
footer .address img {
  width: 4.3125rem;
  height: 3.125rem;
}
footer .address p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #ffffff;
  max-width: 15.375rem;
}
footer .address p span {
  display: block;
}
footer .listing-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 2.5rem;
}
footer .listing-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .listing-wrapper ul li {
  list-style: none;
}
footer .listing-wrapper ul li:first-child {
  margin-bottom: 1rem;
}
footer .listing-wrapper ul li a {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #ffffff;
  text-decoration: none;
}
footer > p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */