h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4206rem;
}
@media screen and (min-width: 37.5rem) {
  h2 {
    font-size: 2.125rem;
    line-height: 2.5719rem;
  }
}
@media screen and (min-width: 80rem) {
  h2 {
    font-size: 3.125rem;
    line-height: 3.7819rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8156rem;
}
@media screen and (min-width: 37.5rem) {
  h3 {
    font-size: 1rem;
    line-height: 1.21rem;
  }
}
@media screen and (min-width: 80rem) {
  h3 {
    font-size: 1.75rem;
    line-height: 2.205rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5125rem;
}
@media screen and (min-width: 80rem) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.8156rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter" !important;
  background-image: url(../images/pngs/BodyBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior-y: none;
}

.blur {
  filter: blur(5px);
}

header {
  position: relative;
}
header nav .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #282828;
}
@media screen and (min-width: 37.5rem) {
  header nav .top-nav {
    padding: 1.1875rem 1.875rem;
  }
}
@media screen and (min-width: 80rem) {
  header nav .top-nav {
    padding: 1rem 7.5rem;
  }
}
header nav .top-nav img {
  width: 2.875rem;
  height: 2.0625rem;
}
@media screen and (min-width: 37.5rem) {
  header nav .top-nav img {
    width: 3.625rem;
    height: 2.625rem;
  }
}
@media screen and (min-width: 80rem) {
  header nav .top-nav img {
    width: 6rem;
    height: 4.3125rem;
  }
}
header nav .top-nav .navigation-listing {
  display: none;
}
@media screen and (min-width: 37.5rem) {
  header nav .top-nav .navigation-listing {
    display: flex;
    gap: 2rem;
  }
}
header nav .top-nav .navigation-listing li {
  list-style: none;
}
header nav .top-nav .navigation-listing li a {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.0588rem;
  color: #fff;
  gap: 2rem;
}
@media screen and (min-width: 80rem) {
  header nav .top-nav .navigation-listing li a {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3613rem;
    gap: 3.125rem;
  }
}
header nav .top-nav .responsive-menu-button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  padding: 0;
}
@media screen and (min-width: 37.5rem) {
  header nav .top-nav .responsive-menu-button {
    display: none;
  }
}
header nav .top-nav .responsive-menu-button img {
  width: 100%;
  height: 100%;
}
header nav .top-nav .login-button {
  display: none;
}
@media screen and (min-width: 37.5rem) {
  header nav .top-nav .login-button {
    display: block;
    width: 8.0625rem;
    height: 2.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #024e99;
    border: none;
    border-radius: 0.5rem;
    outline: none;
  }
}
@media screen and (min-width: 80rem) {
  header nav .top-nav .login-button {
    width: 8.5625rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1.21rem;
  }
}
header nav .side-bar {
  position: absolute;
  top: 0;
  left: -120%;
  z-index: 100;
  background-color: #ffffff;
  width: -webkit-fill-available;
  max-width: 20.4375rem;
  height: 100vh;
}
@media screen and (min-width: 37.5rem) {
  header nav .side-bar {
    display: none;
  }
}
header nav .side-bar.active {
  left: 0 !important;
}
header nav .side-bar .header-wrapper {
  padding: 1.5rem 1.5rem 1.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
}
header nav .side-bar .header-wrapper .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
header nav .side-bar .header-wrapper .header img {
  width: 6rem;
  height: 4.3125rem;
}
header nav .side-bar .header-wrapper .header .cross-icon {
  width: 1.125rem;
  height: 1.125rem;
}
header nav .side-bar .header-wrapper button {
  width: 9.875rem;
  height: 2.25rem;
  background-color: #024e99;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9075rem;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
}
header nav .side-bar ul li {
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1803921569);
  list-style: none;
}
header nav .side-bar ul li a {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.0588rem;
  color: #000000;
  text-decoration: none;
}

main {
  max-width: 90rem;
  margin: 0 auto;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
  padding: 2.5rem 1.25rem 2rem;
  background-color: #eeeeee;
}
@media screen and (min-width: 37.5rem) {
  .service {
    flex-direction: row;
    gap: 2rem;
    padding: 2.125rem 1.875rem 2.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .service {
    gap: 1.5rem;
    padding: 6.6875rem 8.4375rem 5.25rem;
  }
}
.service .service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 37.5rem) {
  .service .service-content {
    align-items: flex-start;
  }
}
.service .service-content h2 {
  text-align: center;
}
@media screen and (min-width: 37.5rem) {
  .service .service-content h2 {
    text-align: left;
  }
}
@media screen and (min-width: 80rem) {
  .service .service-content h2 {
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.5381rem;
  }
}
.service .service-content h2 span {
  color: #024e99;
}
.service .service-content p {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #747688;
  text-align: center;
  margin: 0.75rem 0 1.5rem;
}
@media screen and (min-width: 37.5rem) {
  .service .service-content p {
    line-height: 1.065rem;
    text-align: left;
    margin: 0.875rem 0 1.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .service .service-content p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: 5%;
    margin: 26px 0;
  }
}
.service .service-content button {
  width: 11.25rem;
  height: 2.625rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.0588rem;
  color: #ffffff;
  background-color: #024e99;
  border-radius: 12px;
  border: none;
  outline: none;
}
@media screen and (min-width: 600px) {
  .service .service-content button {
    width: 8.0625rem;
    height: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .service .service-content button {
    width: 12.75rem;
    height: 3.125rem;
    font-size: 1rem;
    line-height: 1.21rem;
  }
}
.service .service-image-wrapper img {
  max-width: calc(100vw - 1.375rem) !important;
}
@media screen and (min-width: 37.5rem) {
  .service .service-image-wrapper img {
    width: 19.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .service .service-image-wrapper img {
    width: 31.5625rem;
    height: 33.625rem;
  }
}

.about-us {
  padding: 2.5rem 1.25rem;
  background-color: #ffffff;
}
@media screen and (min-width: 37.5rem) {
  .about-us {
    padding: 4.375rem 1.875rem;
  }
}
@media screen and (min-width: 80rem) {
  .about-us {
    padding: 7.5rem;
  }
}
.about-us h2 {
  color: #024e99;
}
.about-us > p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #747688;
  margin: 0.8125rem 0 1rem;
}
@media screen and (min-width: 37.5rem) {
  .about-us > p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin: 0.9375rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .about-us > p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8rem;
  }
}
.about-us .about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 37.5rem) {
  .about-us .about-us-content {
    flex-direction: row;
    gap: 4rem;
  }
}
.about-us .about-us-content ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
@media screen and (min-width: 37.5rem) {
  .about-us .about-us-content ul {
    padding: 16px 0;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .about-us .about-us-content ul {
    gap: 0.5rem;
  }
}
.about-us .about-us-content ul li {
  display: flex;
  gap: 0.5rem;
}
.about-us .about-us-content ul li img {
  width: 1.375rem;
  height: 1.375rem;
}
.about-us .about-us-content ul li p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #747688;
}
@media screen and (min-width: 37.5rem) {
  .about-us .about-us-content ul li p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.4rem;
  }
}
@media screen and (min-width: 80rem) {
  .about-us .about-us-content ul li p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.8rem;
  }
}
.about-us .about-us-content ul li p span {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2rem;
  color: rgba(0, 0, 0, 0.8392156863);
}
@media screen and (min-width: 80rem) {
  .about-us .about-us-content ul li p span {
    font-size: 1.125rem;
    line-height: 1.8rem;
  }
}
.about-us .image-wrapper {
  width: 100%;
  height: 16.125rem;
}
@media screen and (min-width: 37.5rem) {
  .about-us .image-wrapper {
    flex: 0 0 18.625rem;
    height: 16.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .about-us .image-wrapper {
    flex: 0 0 34.4375rem;
    height: 26.625rem;
  }
}
.about-us .image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.feature {
  position: relative;
  padding: 2.5rem 0;
  background-color: #ffffff;
  z-index: -2;
}
@media screen and (min-width: 37.5rem) {
  .feature {
    padding: 2.5625rem 0 4.5625rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature {
    padding: 3.75rem 0 7.5rem;
  }
}
.feature .overlay {
  position: absolute;
  width: 100%;
  height: 111.4375rem;
  top: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.8392156863);
}
@media screen and (min-width: 37.5rem) {
  .feature .overlay {
    height: 19.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .overlay {
    height: 36.3125rem;
  }
}
.feature .feature-content {
  padding: 0 1.25rem;
}
@media screen and (min-width: 80rem) {
  .feature .feature-content {
    padding: 0 1.875rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .feature-content {
    padding: 0 7.5rem;
  }
}
.feature .feature-content h2 {
  color: #ffffff;
  margin-bottom: 2rem;
}
@media screen and (min-width: 37.5rem) {
  .feature .feature-content h2 {
    margin-bottom: 2.625rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .feature-content h2 {
    margin-bottom: 3.625rem;
  }
}
.feature .feature-content h2 span:first-child {
  display: block;
  color: rgba(255, 255, 255, 0.8392156863);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8156rem;
}
@media screen and (min-width: 37.5rem) {
  .feature .feature-content h2 span:first-child {
    font-size: 1.75rem;
    line-height: 2.1181rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .feature-content h2 span:first-child {
    font-size: 2.625rem;
    line-height: 3.1769rem;
  }
}
.feature .feature-content h2 span:last-child {
  color: #024e99;
}
.feature .event-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 1.25rem;
}
@media screen and (min-width: 37.5rem) {
  .feature .event-listing {
    flex-direction: row;
    padding: 0 1.875rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .event-listing {
    padding: 0 7.5rem;
  }
}
.feature .event-listing li {
  background-color: #ffffff;
  box-shadow: 18px 23px 33px 0 rgba(0, 0, 0, 0.0392156863);
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 37.5rem) {
  .feature .event-listing li {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .event-listing li {
    padding: 0 1.75rem;
  }
}
.feature .event-listing li .event-listing-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  padding: 2rem 0;
}
@media screen and (min-width: 37.5rem) {
  .feature .event-listing li .event-listing-data {
    gap: 0.5rem;
    padding: 2.25rem 0;
  }
}
@media screen and (min-width: 80rem) {
  .feature .event-listing li .event-listing-data {
    gap: 0.75rem;
    padding: 3.875rem 0 2.75rem;
  }
}
.feature .event-listing li .event-listing-data h3 {
  white-space: nowrap;
  color: #000000;
}
.feature .event-listing li .event-listing-data p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #747688;
  text-align: center;
}
@media screen and (min-width: 37.5rem) {
  .feature .event-listing li .event-listing-data p {
    font-size: 0.5625rem;
    font-weight: 500;
    line-height: 1.0862rem;
  }
}
@media screen and (min-width: 80rem) {
  .feature .event-listing li .event-listing-data p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
  }
}
.feature .event-listing li .event-listing-image {
  max-height: 25.4375rem;
}
.feature .event-listing li .event-listing-image img {
  width: 100%;
  height: 100%;
}

.working-method-wrapper {
  padding: 0 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
@media screen and (min-width: 600px) {
  .working-method-wrapper {
    padding: 0 1.875rem 4.375rem;
  }
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper {
    padding: 0 7.375rem 7.5rem;
  }
}
.working-method-wrapper h2 {
  color: #024e99;
  text-align: center;
  margin-bottom: 3.25rem;
}
@media screen and (min-width: 37.5rem) {
  .working-method-wrapper h2 {
    margin-bottom: 2.875rem;
  }
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper h2 {
    margin-bottom: 4.5rem;
  }
}
.working-method-wrapper h2 span {
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8156rem;
  color: rgba(0, 0, 0, 0.8392156863);
}
@media screen and (min-width: 48rem) {
  .working-method-wrapper h2 span {
    font-size: 1.75rem;
    line-height: 2.1119rem;
  }
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper h2 span {
    font-size: 2.625rem;
    line-height: 3.1769rem;
  }
}
.working-method-wrapper .working-method {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.75rem;
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper .working-method {
    flex-direction: row;
    gap: 8.5rem;
  }
}
@media screen and (min-width: 37.5rem) {
  .working-method-wrapper .working-method .image-wrapper {
    width: 32.875rem;
    height: 31.3125rem;
  }
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper .working-method .image-wrapper {
    width: 31.375rem !important;
    height: 31.25rem;
  }
}
.working-method-wrapper .working-method .image-wrapper img {
  width: 100%;
  height: 100%;
}
.working-method-wrapper .working-method .working-method-content {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}
@media screen and (min-width: 37.5rem) {
  .working-method-wrapper .working-method .working-method-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px 19px;
  }
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper .working-method .working-method-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.875rem;
  }
}
.working-method-wrapper .working-method .working-method-content li {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
@media screen and (min-width: 37.5rem) {
  .working-method-wrapper .working-method .working-method-content li {
    gap: 1.5rem;
  }
}
.working-method-wrapper .working-method .working-method-content li .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 3.125rem;
  width: 50px;
  height: 3.125rem;
  border-radius: 50%;
  background-color: #f5f5f5;
}
.working-method-wrapper .working-method .working-method-content li .listing-data h4 {
  color: rgba(0, 0, 0, 0.8392156863);
  margin-bottom: 0.75rem;
}
.working-method-wrapper .working-method .working-method-content li .listing-data p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #747688;
}
@media screen and (min-width: 37.5rem) {
  .working-method-wrapper .working-method .working-method-content li .listing-data p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 80rem) {
  .working-method-wrapper .working-method .working-method-content li .listing-data p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 5%;
    max-width: 29.125rem;
  }
}
.working-method-wrapper .working-method .working-method-content li:first-child .image-wrapper {
  background-color: #024e99;
}

.scroll-button-wrapper .scroll-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: #024e99;
  position: fixed;
  bottom: 2.5rem;
  right: 1.25rem;
}

footer {
  padding: 2rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.8392156863);
}
footer .address {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 2.5625rem;
}
footer .address img {
  width: 4.3125rem;
  height: 3.125rem;
}
footer .address p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #ffffff;
  max-width: 15.375rem;
}
footer .address p span {
  display: block;
}
footer .listing-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 2.5rem;
}
footer .listing-wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .listing-wrapper ul li {
  list-style: none;
}
footer .listing-wrapper ul li:first-child {
  margin-bottom: 1rem;
}
footer .listing-wrapper ul li a {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #ffffff;
  text-decoration: none;
}
footer > p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */